.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav {
    display: flex;
    align-items: center;
    gap: 60px;
    padding: 18px 0;
    color: #505F98;

    li {
        cursor: pointer;
    }
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 160px;
    height: 26px;
    border: 1px solid #000000;
    border-radius: 2px;

    color: #ffffff;
    background-color: #111B47;
    
    font-size: 12px;
    font-weight: 500;
}